<app-carousel/>
<!-- Main Section with Courses and Trending Courses -->
<div class="container my-5">
  <div class="row" style="margin-top: -70px;">
    <!-- Courses Section (Left Side) -->
    <div class="col-lg-12">
      <section id="courses" class="main-section">
        <h2 class="text-center">Our Courses</h2>
        <div class="row">
          @for (item of courseList(); track $index) {
          <div class="col-md-4">
            <div class="card mb-3">
              <img
                [src]="item.thumbnailUrl"
                class="card-img-top"
                alt="Course 1"
              />
              <div class="card-body">
                <h5 class="card-title">{{ item.courseName }}</h5>
                <p class="card-text" [title]="item.courseDescription">
                  {{ item.courseDescription | slice : 0 : 100 }}...
                </p>
                <a
                  href="#course-details"
                (click)="openModel(item.courseId)"
                  class="btn btn-primary"
                  >View Videos</a
                >&nbsp;&nbsp;
                <a (click)="onEnroll(item.courseId)" class="btn btn-warning text-end"
                  >Enroll</a
                >
              </div>
            </div>
          </div>
          }
        </div>
      </section>
    </div>
  </div>
</div>


<app-footer/>

<div class="modal" #courseModel>
  <div class="modal-dialog modal-lg">
      <div class="modal-content ">

          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">Course Videos</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
             <div class="row">
              @for (item of courseVideos; track $index) {
              <div class="col-3">
                  <div class="card">
                      <img [src]="item.videoUrl" class="card-img-top" alt="Trending Course 3">
                      <div class="card-body">
                          <h6 class="card-title">{{item.videoTitle}}</h6>
                      </div>
                  </div>
              </div>
            }
             </div>
          </div>
      </div>
  </div>
</div>

